 <div class="user-details">
  <h1> My Expertise </h1>
  <p>Hello! My name is Leo, a passionate software developer from Spain. By night musician and hardware researcher, by day senior software dev and lecturer. Game Boy enthusiast anyway.</p>
  <p>I work on Natural Language Processing, Machine Learning and Music Information Retrieval state-of-the-art techniques to create useful new tools and technologies in agile environments since 2015.</p>
  <p>Developing on NLP from simple scrappers and HTML text extractors to preprocessing and parallel corpora cleaning pipelines, all for a successful set of translation platforms.</p>
  <p>Lecturer on computer science related subjects in several degrees as Mathematics and Computer Science, as programming fundamentals or project management and planning.</p>
  <p>In music, MIR on the technical side in several projects related to dodecaphonism automatic composition and classical composer detection from audio; live jazz, wind-orchestra and rock music on the practical. Some bleep-bloop chiptunes too.</p>
  <p>When I have some spare time, I calibrate my 3D printer and design useful models. Also PCBs.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-amazonwebservices-plain colored"></i>
      <i class="devicon-bootstrap-plain colored"></i>
      <i class="devicon-illustrator-plain colored"></i>
      <p>Features are not everything in software development. Always staying up to date on code style, designing useful APIs and intuitive interfaces. </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-go-plain"></i>
      <p>Coding in a variety of languages and paradigms for modern times! From local companies websites to wide HPCC deployments.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-trello-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-pycharm-plain colored"></i>
      <p>Constantly developing with and for humans. Working with the right colaborative tools in SCRUM/agile-like groups makes the daily routine easier!</p>
    </div>
</div>
