 <div class="user-details">
  <h1> My Expertise </h1>
  <p>Hello! My name is Leo, a passionate software developer from Spain. By night musician and hardware researcher, by day senior software dev and lecturer. Game Boy enthusiast anyway.</p>
  <p>I work on Data Science, Natural Language Processing, Machine Learning and Music Information Retrieval state-of-the-art techniques to create useful new tools and technologies in agile environments since 2015.</p>
  <p>Developing from simple scrappers and HTML text extractors up to production ready parallel corpora cleaning pipelines and pre-trained language models.</p>
  <p>Lecturer in AI, Translation and Interpreting, Mathematics and Computer Science degrees. Teaching programming algorithmic fundamentals,data structures and advanced techniques for software engineering.</p>
  <p>In music, MIR on the technical side in several projects related to dodecaphonism automatic composition, classical composer detection from audio and neural music transcription; live jazz, wind-orchestra and rock music on the practical. Some bleep-bloop chiptunes too.</p>
  <p>When I have some spare time, I calibrate my 3D printer and design useful models. Also PCBs.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-amazonwebservices-plain colored"></i>
      <i class="devicon-bootstrap-plain colored"></i>
      <i class="devicon-illustrator-plain colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <p>Part of my development is in the web side too. Always staying up to date on code style, designing useful APIs and intuitive interfaces. </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-go-plain colored"></i>
      <i class="devicon-rust-original colored"></i>
      <p>Coding in a variety of languages and paradigms for modern times! From local companies websites to wide HPCC deployments.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-trello-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-pycharm-plain colored"></i>
      <i class="devicon-pytorch-original colored"></i>
      <p>Constantly developing with and for humans. Working with the right tools in SCRUM/agile-like groups makes the daily routine easier!</p>
    </div>
</div>
