 <div class="user-details">
  <h1> My Expertise </h1>
  <p>Hello! My name is Leo, a passionate software developer from Spain. By night musician and hardware researcher, by day senior software dev and lecturer. Game Boy enthusiast anyway.</p>
  <p>My primary passion is to bring concepts to life through creation and innovation. For over a decade, I've dedicated myself to crafting smooth, functional prototypes, whether for my personal projects, academic research, or client solutions. Engineering is not just my profession; it's a part of who I am.</p>
  <p>In my approach to development, precision and clarity are paramount. I tackle complex challenges by writing concise, easily understandable code, maintaining thorough documentation, and adhering to industry best practices. I utilize frameworks such as React or Vue judiciously and strive to minimize unnecessary dependencies, ensuring that each line of code serves a clear purpose.</p>
  <p>Learning is a continuous journey for me. Often holding senior or solo developer roles, I've cultivated the ability to quickly master new technologies and concepts independently. Developing from simple scrappers and HTML text extractors up to production ready parallel corpora cleaning pipelines and pre-trained language models. However, engaging with peers and exchanging ideas and experiences has proven irreplaceable for my professional growth.</p>
  <p>I am also keen on disseminating knowledge. Over eight years as a part-time lecturer in AI, Translation and Interpreting, Mathematics and Computer Science degrees, I have encouraged students to explore innovative ideas and supported them in realizing these concepts, which has been incredibly fulfilling. Among many subjects, I focus on programming algorithmic fundamentals, data structures and advanced techniques for software engineering.</p>
  <p>My interest extends to developing intelligent technologies. With a background in AI, I am eager to integrate advanced computational techniques like machine learning, computer vision, and natural language processing into practical applications. I'm always open to contributing ideas to projects that aim to make technology smarter and more functional.</p>
  <p>Above all, I love proposing ideas between transversal subjects. In music, I researched MIR in several projects related to dodecaphonism automatic composition, classical composer detection from audio and neural music transcription; I play live jazz, wind-orchestra and rock music on the practical side. Some bleep-bloop chiptunes too.</p>
  <p>I am committed to building secure and reliable software. My experience in AI and big data has not only acquainted me with its capabilities but also with strategies to mitigate potential misuse, such as implementing differential privacy. Furthermore, I prioritize coding security to thwart common vulnerabilities like SQL injections and XSS attacks, and I'm well-versed in cryptographic best practices.</p>
  <p>When I have some spare time, I calibrate my 3D printer and design useful models. Also homegrown PCBs.</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Creative Web Design</h2>
    <i class="devicon-html5-plain colored"></i>
    <i class="devicon-amazonwebservices-plain colored"></i>
    <i class="devicon-bootstrap-plain colored"></i>
    <i class="devicon-illustrator-plain colored"></i>
    <i class="devicon-nodejs-plain colored"></i>
    <p>My approach to web development blends the latest coding standards with artistic design to create compelling APIs and user-friendly interfaces that captivate and engage. I strive to breathe life into each project, ensuring that every digital experience is as intuitive as it is impactful.</p>
  </div>
  <div class="tech">
    <h2>Dynamic Coding</h2>
    <i class="devicon-python-plain colored"></i>
    <i class="devicon-java-plain colored"></i>
    <i class="devicon-c-plain colored"></i>
    <i class="devicon-go-plain colored"></i>
    <i class="devicon-rust-original colored"></i>
    <p>I fluently speak multiple coding languages, crafting versatile and scalable solutions for everything from local businesses' websites to extensive high-performance computing clusters. My code connects technologies and communities, building bridges in the digital world.</p>
  </div>
  <div class="tech">
    <h2>Essential Tech Tools</h2>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-trello-plain colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <i class="devicon-pycharm-plain colored"></i>
    <i class="devicon-pytorch-original colored"></i>
    <p>In the toolbox of my trade, collaboration and efficiency are key. I harness cutting-edge tools and methodologies, such as SCRUM and agile practices, to streamline workflows and foster teamwork. My goal? To make every project smoother and every team more effective.</p>
  </div>

</div>
