<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="caramel" src="{{ "/assets/img/logo-caramel.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> CARAMEL </h3>
    <p>CARAMEL is a research and innovation project funded under Horizon Europe. It aims to develop an AI-driven, personalized prevention model tailored to the unique cardiovascular health needs of women aged 40-60, particularly during the menopausal transition, when CVD risk rises significantly.</p>
    <a class="project-link" href="https://caramel-project.eu/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="incibe" src="{{ "/assets/img/logo-incibe.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CRYPTOTRACK </h3>
    <p>CRYPTOTRACK is a system developed by Treelogic to monitor and detect illicit activities in cryptocurrency transactions. This project was part of the first call of the Strategic Initiative for Innovative Public Procurement (IECPI) by the National Institute of Cybersecurity (INCIBE).</p>
    <a class="project-link" href="https://www.incibe.es/index.php/industria-cpi/tree-technology-sa">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="stream" src="{{ "/assets/img/communitas.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> COMMUNITAS </h3>
    <p>COMMUNITAS principal goal is to pave the way for the empowerment and engagement of different types of consumers and prosumers, placing them at the heart of energy markets. It will do so by boosting the creation and exploiting the potentialities of ECs as hubs for innovative energy services, integrated with non-energy benefits, co-created together with citizens and other stakeholders.</p>
    <a class="project-link" href="https://communitas-project.eu/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="moderate" src="{{ "/assets/img/moderate.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> MODERATE </h3>
    <p>MODERATE aims to connect data providers with other building stakeholders by improving interoperability between datasets, by making use of data from different providers and aims to develop services based on data analytics that can transform raw data into knowledge for end-users.</p>
    <a class="project-link" href="https://moderate-project.eu/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="stream" src="{{ "/assets/img/stream.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> STREAM </h3>
    <p>The STREAM project aims to create an innovative and robust flexibility ecosystem on the low voltage grid side of existing power markets connecting data, technologies, stakeholders and markets, thus facilitating the flexibility provision.</p>
    <a class="project-link" href="https://stream-he-project.eu/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ineexs" src="{{ "/assets/img/ineexs.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> InEExS </h3>
    <p>InEExs proposes Innovative Energy (Efficiency) Service Models for Sector Integration. The project aims to acilitate the implementation of sector-integrating smart energy services and the deployment of a wide range of sustainable technologies, such as renewables, EV, heat pumps, IoT controls and other energy efficiency measures.</p>
    <a class="project-link" href="https://ieecp.org/projects/ineexs/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="multiscore" src="{{ "/assets/img/multiscore.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> MultiScore </h3>
    <p>MultiScore proposes the development of neural models that leverage large data sets to learn both OMR and AMT holistically (end-to-end) under a common framework for transcribing music.</p>
    <a class="project-link" href="https://sites.google.com/view/multiscore-project">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="macocu" src="{{ "/assets/img/macocu.svg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> MaCoCu </h3>
    <p>MaCoCu focuses on collecting monolingual and parallel data from the Internet, specially for under-resourced languages and DSI-specific data.</p>
    <a class="project-link" href="https://macocu.eu">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="pcb" src="{{ "/assets/img/pcb.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> lpla/gb-pcbs </h3>
    <p>Delving into the world of gaming hardware, this project provides open-source designs for Game Boy-related hardware, making advanced DIY tech accessible to enthusiasts and creators worldwide through services like OSH Park or PCB Way.</p>
    <a class="project-link" href="https://github.com/lpla/gb-pcbs">Check it out</a>
  </div>
</div>
<div class="user-projects">
    <div class="images-left">
      <img alt="bitextor" src="{{ "/assets/img/bitextor.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Bitextor </h3>
      <p>Bitextor generates translation memories from multilingual websites or WARC files. A complete pipeline optimized for high-performance and distributed environments.</p>
      <a class="project-link" href="https://github.com/bitextor/bitextor/">Check it out</a>
    </div>
  </div>
<div class="user-projects">
  <div class="images-right">
    <img alt="paracrawl" src="{{ "/assets/img/paracrawl.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Paracrawl </h3>
    <p>Crawling thousands of websites, added to the Internet Archive data and processing all efficiently with open-source software to create a huge, powerful and heterogeneus parallel corpus for Machine Translation systems and Large Language Models.</p>
    <a class="project-link" href="https://paracrawl.eu">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="context" src="{{ "/assets/img/context.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Reverso Context </h3>
    <p>The most advanced and fast parallel corpora search tool, finding aligned documents and sentences from many public resources at unprecedented speeds, with several million page-views every day and deeply integrated into Reverso ecosystem.</p>
    <a class="project-link" href="https://context.reverso.net/">Check it out</a>
  </div>
</div>
